@use "../scss/utilities/variables" as *;

header {
    background-color: $color-secundario;
    @extend %flexrowspacebetweencenter;
}

.titulo {
    color: $color-detalles;
}

.navbar .nav-link {
  @extend %nav-link-base;
  color: $color-primario;

  &:hover {
    color: $color-detalles;
  }
}

.navbar-toggler {
  background-color: #ff6a00 !important;
  color: #ff6a008a !important;
  border: none !important;
}

ul {
    list-style: none;
    @extend %flexrow;
}

body {
  background-color: $color-primario;
  margin: 0;
}

main {
  background-color: $color-primario;
}

label {
  font-family: $fuente-texto;
  font-weight: 400;
}

li {
  padding: 0 10px;
}

h1{
    font-family: $fuente-titulos;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: $fuente-titulos;
    font-weight: 400;
    font-style: normal;
}

h3{
   font-family: $fuente-texto;
   font-weight: 700;
   font-size: 5rem;

}

h4 {
    font-family: $fuente-titulos;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

p {
   font-family: $fuente-texto;
   font-weight: 400; 
}

//boton//

.btn-primary.btn-enviar {
  @include boton($color-detalles, $color-detalles-hover, $color-primario);
}

//footer//

footer {
  background-color: $color-detalles;

  .navbar .nav-link {
    @extend %nav-link-base;
    color: $color-secundario;

    &:hover {
      color: $color-primario;
    }
  }

  img {
    color: $color-secundario;
  }
}