@use "../scss/utilities/variables" as *;

.card.card-producto {
  background-color: $color-secundario;
  color: $color-primario;
}

.imagenes-producto{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.producto-img{
  width: 100%;
  height: auto;
  display: block;
}