.permanent-marker-regular {
  font-family: "permanent marker", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ZT Nature";
  src: url("/assets/fuentes/ZTNature-Regular.woff2") format("woff2"),
       url("/assets/fuentes/ZTNature-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$color-primario: #f9ffd9;
$color-secundario: #20201e;
$color-detalles:#ff6b0f;
$fuente-titulos: "Permanent Marker", cursive;
$fuente-texto: "ZT Nature", sans-serif;


%flexrowspacebetweencenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%flexrow {
    display: flex;
    flex-direction: row;
}